<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body class="d-flex align-items-center justify-content-center">
    
        <main id="app" class="d-flex">
            
            <div class="sidebar">
                <div class="my_profile d-flex justify-content-between
                align-content-center p-2"><!-- my profile on sidebar -->
                    <div class="left_pack d-flex">
                        <img class="img-fluid rounded-circle" src="./assets/img/avatar_io.jpg" alt="my avatar">
                        <span class="px-1 align-self-center">Nicola</span>
                    </div>
                    <div class="right_pack d-flex justify-content-around align-items-center">
                        <i class="px-1 fa-solid fa-circle-notch"></i>
                        <i class="px-1 fa-regular fa-message"></i>
                        <i class="px-1 fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="notifications d-flex justify-content-start align-items-center"><!-- notifications section -->
                    <div class="left_pack">
                        <i class="rounded-circle bg-dark p-2 fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="right_pack d-flex flex-column px-1">
                        <span class="text_small">Receive notifications of new messages</span>
                        <span class="text_small text-decoration-underline">Turn on desktop notifications</span>
                    </div>
                </div>
                <div class="search_box d-flex align-content-center"><!-- search barcontacts section -->
                    <input class="form-control bg-black m-1 text-light" type="text" placeholder="Find or start a new chat" aria-label="searchContact">
                </div>

                <div class="contacts "><!-- list of contacts  -->
                    <div class="single_contact d-flex justify-content-between p-2 my-1"
                    v-for="(contact, index) in contacts"
                    :class="index === isActive ? 'active' : ''">
                        <div class="left_pack d-flex">
                            <div class="sub_left_pack">
                                <img class="rounded-circle" :src="`./assets/img/${contact.avatar}.jpg`" alt="contact x avatar">
                            </div>
                            <div class="sub_right_pack d-flex flex-column justify-content-around px-1">
                                <span>{{contact.name}}</span>
                                <span class="text_small">{{contact.messages[contact.messages.length - 1].message}}</span>
                            </div>
                        </div>
                        <div class="right_pack d-flex">
                           <!--  <span class="text_small">{{contact.messages[slice(-1)]date}}</span> -->    
                        </div>
                    </div>
                    
                </div>

            </div>

            <div class="right_big_bar">
                <div class="top_bar">
                    <div class="contact_profile d-flex justify-content-between
                align-content-center p-2"><!-- my profile on sidebar -->
                        <div class="left_pack d-flex">
                            <div class="sub_left_pack">
                                <img class="img-fluid rounded-circle" src="./assets/img/avatar_2.jpg" alt="contact x avatar">
                            </div>
                            <div class="sub_right_pack d-flex flex-column justify-content-around px-1">
                                <span>Cinzia</span>
                                <span class="text_small">Last sent message today at 12:00</span>
                            </div>
                        </div>
                    <div class="right_pack d-flex justify-content-around align-items-center">
                        <i class=" fa-solid fa-magnifying-glass"></i>
                        <i class="px-1 fa-solid fa-paperclip"></i>
                        <i class="px-1 fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                </div>

                <div class="message_container d-flex flex-column">
                    <ul v-for="(message, index) in (contacts[isActive].messages)">
                        <li class="card" :class="{{message[index].status}}">
                            {{message.message}}
                        </li>
                    </ul>     
                    
                   
                </div>

                <div class="bottom_bar">
                    <div class="search_box d-flex align-items-center justify-content-around"><!-- search barcontacts section -->
                        <i class="px-3 fa-regular fa-face-surprise"></i>
                        <input class="form-control bg-black m-1 text-light" type="text" placeholder="Write a message" aria-label="searchContact">
                        <i class="px-3 fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>


        </main>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>