

/* #endregion-------------theme colors */
:root{
    --bg--dark: #020107;
    --bg--light-dark: #37373a;
    --bg--violet: #301E67;
    --bg--light-blue: #5B8FB9;
    --bg--light-green: #B6EADA;
    --txt--light: rgba(255, 255, 255, 0.753);

}
/* #endregion-------------theme colors */


/* #region-------------utilities */
.dashed{
    border: 1px dashed yellow;
}
.text_small{
    font-size: .75rem;
}
.active{
    background-color: var(--bg--light-dark)!important ;
}
.notShow{
    display:none!important ;
}
.show{
    display:block;
}
/* #endregion-------------utilities */

/* #region-------------commons */
body{
    background-color: var(--bg--light-dark);  
    width: 100vw;
    height: 100vh; 
}
main{
    width: calc(100vw - 20rem);
    height: calc(100vh - 10rem);
    max-height: 100%;
    margin: auto;
}
/* #endregion-------------commons */


/* #region-------------sidebar */
.sidebar{
    background-color: var(--bg--dark);
    color: var(--txt--light);
    width: 18rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.notifications .fa-bell-slash{
    aspect-ratio: 1;
}
.sidebar .my_profile,
.sidebar .notifications,
.sidebar .search_box{
    height: 3.5rem;
    min-height: 3rem;
    padding: .25rem;
    border: 1px solid black;
}
.contacts{
    flex-grow: 1;
    overflow-y: auto;
    padding: .25rem;
    border: 1px solid black;
}
.single_contact{
    height: 4rem;
    border: 1px solid black;
    border-radius: .5rem;
}
.single_contact img{
    max-height: 100%;
    aspect-ratio: 1;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background:gray; 
}
::-webkit-scrollbar-thumb {
    background: white; 
}
::-webkit-scrollbar-thumb:hover {
    background: black; 
}
/* #endregion-------------sidebar */



/* #endregion-------------right big bar */

.right_big_bar{
    width: calc(100% - 18rem);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.message_container{
    background-image: url(../img/mine_dark.jpg);
    flex-basis: 5rem;
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid black;    
}
.message_container i{
    color: var(--bg--light-dark);
}
.message_container ul .received{
    align-self: flex-start;
    background-color: var(--bg--light-blue);
}
.message_container ul .sent{
    align-self: flex-end;
    background-color:var(--bg--light-green);
}
.message_container .sent,
.message_container .received{
    max-width:18rem;
    margin: 1rem;
    padding: .25rem;
    color: black;
}
.message_container li span{
    align-self: flex-end;
    justify-self: end;
    font-size: .6rem;
}
.bottom_bar{
    background-color:var(--bg--dark);
    border: 1px solid black;    
    color: var(--txt--light);
}
.top_bar{
    background-color:var(--bg--gold);
}
.top_bar img{
    max-height: 100%;
}
.fa-paperclip{
    rotate: 90deg;
}
.right_big_bar .contact_profile{
    height: 3.5rem;
    border: 1px solid black;
    background-color: var(--bg--dark);
    color: var(--txt--light);
}






